FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too
DATABASE_URL=sqlite:///usiwaste.db
# For production: postgresql://user:password@host:port/dbname

MAIL_SERVER=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=apikey
MAIL_PASSWORD=your-sendgrid-api-key
MAIL_DEFAULT_SENDER=no-reply@usiwaste.com

FRONTEND_URL=http://localhost:5173
